<h1>Chat entre:</h1>
<p><strong>Emisor ID:</strong> <%= @chat.sender_id %></p>
<p><strong>Receptor ID:</strong> <%= @chat.receiver_id %></p>

<%= link_to "Volver a la lista", chats_path, class: "btn btn-secondary" %>
